<nav class="navbar shadow-sm navbar-expand-lg navbar-light bg-light justify-content-between p-3 sticky-top">
  <h1><%= link_to 'Simple Airbnb', flats_path, class:"p-3 text-start"%></h1>
  <h4> <%= link_to 'Add Flat', new_flat_path, class: "flat-add btn btn-outline-primary btn-lg me-3" %></h4>
</nav>
